* {
    margin: 0;
    padding: 0;

}

body {
    color:beige ;
    background-color:lightseagreen;
    font-family:Arial, Helvetica, sans-serif;
}

header {
    padding: 10px;
    display:table-row;
    font-size: 16px;
}

header a {
    text-decoration: none;
    color: beige;
}

header nav ul {
    justify-content: space-between;
    
}

nav {
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    bottom: 0;
}


header h1 {
    display: flex;
    justify-content: center;
}

header nav ul li {
    list-style: none;
    text-align: center;
    
}

.nav-box {
    background-color: coral;
    
}

.nav-box nav ul li {
    text-align: center;
}