:root {
    --black: black;
    --lavender: lavender;
    
}

* {
    margin: 0;
    padding: 0;
   
}

body {
    color: var(--black);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:var(--lavender);
}

nav ul li {
   list-style: none;
   display: inline-block;
}

.nav {

    
}


header {
    text-align: center;
    background-image: url("../images/Norway Sunset.jpg");
    padding: 0;
    background-size: cover;
    line-height: 5em;
    max-width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    background-position: 10%;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    z-index: 9999;
}

header h1 {
    text-align: center;
    font-weight: lighter;
    font-size: 60px;
    color:maroon;
}

header a {
    text-decoration: none;
    color: var(--lavender);
    font-size: 30px;
    margin-left: 110px;
    margin-right: 110px;
}

header nav {
    margin: 20px 0;
    padding-bottom: 15px;
}

header nav ul li a {
    margin: 50px;  
}

header nav ul li a:hover {
    color: lightcoral;

}

.about h2 {
    font-size: 24px;
    text-decoration: underline;
}

#about {
   flex-wrap: wrap;
   
}

#about img {
    padding: 0px 0px;
    max-width: 15%;
    position: absolute;
    top: 215px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    flex-shrink: inherit;
    
}

#about h2 {
    text-align: center;
    line-height: 1em;
    text-decoration: underline;
}

#about p {
    line-height: 1.5em;
    margin: auto 200px auto 0px;
    padding: 10px 100px 0px 220px;
}

#contact-me {
    position: absolute;
    right: 10px;
    top: 215px;
    background-image: url("../images/resizedwaterfall.jpg.jpeg");
    background-position: 20%;
    background-size: 300px;
    text-align: center;
    color: var(--lavender);
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    flex-wrap: wrap;
    position: -webkit-sticky;
    display: flexbox;
}

#contact-me h2 {
    line-height: 1em;
    text-align: center;
    color:var(--black);
}

#contact-me a {
    line-height: 3em;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    color:var(--black);
    font-weight: bold;
    font-size: 18px;
}

#contact-me a:hover {
    color: coral;
}

#projects {
    text-align:center;
}

#projects h6 {
    font-size: 24px;
    text-align: center;
    text-decoration: underline;
    padding: 25px;
}

#projects p {
    line-height: 3em;
}

#projects img {
    box-shadow:0 0 10px ;
}

#skills {
    position: absolute;
    top: 235%;
}

#skills h4 {
    font-size: 24px;
    text-decoration: underline;

}




#resume {
    position: absolute;
    top: 260%;
}

#resume h5 {
    font-size: 24px;
    text-decoration: underline;
}







@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }
}




@media screen and (max-width: 575px) {

}