:root {
    --black: black;
    --lavender: lavender;
    
}

* {
    margin: 0;
    padding: 0;
   
}

body {
    color: var(--black);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:var(--lavender);
}

nav ul li {
   list-style: none;
   display: inline-block;
}

.nav {

    
}


header {
    text-align: center;
    background-image: url("../images/Norway Sunset.jpg");
    padding: 0;
    background-size: cover;
    line-height: 5em;
    max-width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    background-position: 10%;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    z-index: 9999;
}

header h1 {
    text-align: center;
    font-weight: lighter;
    font-size: 60px;
    color:maroon;
}

header a {
    text-decoration: none;
    color: var(--lavender);
    font-size: 30px;
    margin-left: 110px;
    margin-right: 110px;
}

header nav {
    margin: 20px 0;
    padding-bottom: 15px;
}

header nav ul li a {
    margin: 50px;  
}

header nav ul li a:hover {
    color: lightcoral;

}

.about {
    flex-wrap: wrap;
}

.about h2 {
    font-size: 24px;
    text-decoration: underline;
}

#about {
   flex-wrap: wrap;
   
}

#about img {
    padding: 0px 0px;
    max-width: 15%;
    position: absolute;
    top: 215px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    /*flex-shrink: inherit; */
    
}

#about h2 {
    text-align: center;
    line-height: 1em;
    text-decoration: underline;
}

#about p {
    line-height: 1.5em;
    margin: auto 200px auto 0px;
    padding: 10px 100px 50px 220px;
}

#contact-me {
    position: absolute;
    right: 10px;
    top: 215px;
    background-image: url("../images/resizedwaterfall.jpg.jpeg");
    background-position: 20%;
    background-size: 300px;
    text-align: center;
    color: var(--lavender);
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    flex-wrap: wrap;
   /* position: -webkit-sticky; */
}

#contact-me h2 {
    line-height: 1em;
    text-align: center;
    color:var(--black);
}

#contact-me a {
    line-height: 3em;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    color:var(--black);
    font-weight: bold;
    font-size: 18px;
}

#contact-me a:hover {
    color: coral;
}

#skills {
    text-align: center;
    line-height: 3em;
    padding-bottom: 50px;
    /*position: absolute;
    top: 235%; */
}

#skills h4 {
    font-size: 24px;
    text-decoration: underline;

}

#projects {
    text-align:center;
}

#projects h6 {
    font-size: 24px;
    text-align: center;
    text-decoration: underline;
    padding: 25px;
    padding-top: 100px;
    margin-top: 100px;
}

#projects p {
    line-height: 3em;
}

#projects img {
    box-shadow:0 0 10px ;
}


#resume {
    position: center;
    text-align: center;
    padding-bottom: 100px;
}

#resume iframe {
    position: center;
}

#resume h2 {
    font-size: 24px;
    text-decoration: underline;
    text-align: center;
    line-height: 3em;
}




@media screen and (max-width: 980px) {
    header {
        padding-right: 0px;
        justify-content: center;
        position: relative;
        width: 100%;
    }
    #about p {
        width: 50%
    }

    #contact-me div {
        position: absolute;
        right: 50px;
        top: 100px;
        background-image: url("/assets/images/resizedwaterfall.jpg.jpeg");
        background-size: 50px;
    }

    #contact-me {
        background-image: url("/assets/images/resizedwaterfall.jpg.jpeg");
    }



    #about img {
       position: absolute;
       top: 300px;
       width: 100%;
        
    }
}






@media screen and (max-width: 768px) {
    section {
        font-size: 20%;
        
    }

    .about h2 {
        font-size: 20%;

    }

    #contact-me {
        background-image: url("/assets/images/resizedwaterfall.jpg.jpeg");
    }
}




@media screen and (max-width: 575px) {

    #contact-me {
        background-image: url("/assets/images/resizedwaterfall.jpg.jpeg");
    }

}